<div class="tab-wrapper">
    <ul class="tab">
        <li class="tab__item active">
            <a href="javascript:void(0)">tab 1</a>
        </li>
        <li class="tab__item">
            <a href="javascript:void(0)">tab 2</a>
        </li>
        <li class="tab__item">
            <a href="javascript:void(0)">tab 3</a>
        </li>
        <li class="tab__item">
            <a href="javascript:void(0)">tab 4</a>
        </li>
        <li class="tab__item">
            <a href="javascript:void(0)">tab 5</a>
        </li>
    </ul>
    <div class="tab-line"></div>
    <!--<ul class="sub-tab">
        <li class="tab__item"><a href="javascript:void(0)">tab 1</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 2</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 3</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 4</a></li>
        <li class="tab__item active"><a href="javascript:void(0)">tab 5</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 6</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 7</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 8</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 9</a></li>
        <li class="tab__item"><a href="javascript:void(0)">tab 10</a></li>
    </ul>
     <div class="tab-line"></div>-->
</div>