<div class="fp__item" :class="['fp__item--fill' + model.fill, model.offset ? 'fp__item--offset'+model.offset : '', model.isMixedRow ? 'fp fp--col' + model.mixedRow.cols : '']">
    <template v-if="model.isFormItem">
        <cip-form-item :model = "model.formItem" ></cip-form-item>
    </template> 

    <template v-if="model.isSubForm">
        <z-dyform :model="model.form"></z-dyform>
    </template>

    <template v-if="model.isMixedRow">
        <fp-item :model="item"  v-for="item in model.mixedRow.childs"></fp-item>
    </template>
</div>