@import './index.scss';
.menu-wrapper{
    display: block;
    height: px2em(36px);
}
.menu{
    @extend %ulReset;
    @include flexContainer($alignItems: center);
    height: 100%;
    background-image: linear-gradient(to top, #1e3d6b, #052679);
    &__item{
        @include flexContainer($alignItems: center);
        height: 100%;
        
        & > a{
            color: $light1;
        }
        
    }
}