@import './index.scss';



.menu-wrapper{
    height: emRhythm(4);
}
.menu{
    @extend %ulReset;
    @include flexContainer($alignItems: center);
    height: 100%;
    background: url('./images/bg_menu.gif') repeat-x;
    &__item{
        @include flexContainer($alignItems: center);
        height: 100%;
        
        & > a{
            padding-right: $GapMedium;
            padding-left: $GapMedium;
            color: $light1;
            font-weight: bold;
            text-decoration: none;
        }
        
    }
}