 // $Shadow
$Shadow_lv1: 0 2px 4px rgba(0,0,0, .2)  !default;
$Shadow_lv2: 0 2px 4px rgba(0,0,0, .2), 0 0 10px rgba(0,0,0, .05)  !default;
$Shadow_lv3: 0 2px 4px rgba(0,0,0, .2), 0 0 10px rgba(0,0,0, .05), 0 0 20px rgba(0,0,0, .02)  !default;
$Shadow_lv4: 0 6px 4px rgba(0,0,0, .25), 0 0 20px rgba(0,0,0, .15), 0 0 50px rgba(0,0,0, .1)  !default;

// material 
$Shadow_g_lv1: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
$Shadow_g_lv2: 0 2px 10px rgba(0,0,0,.2)