@import 'config';
@import 'color';
@import 'type';
@import 'decorations';

// $Gap_small: .25rem !default;
// $Gap_medium: .5rem !default;
// $Gap_large: 1rem !default;
// $Gap_xlarge: 2rem !default;
$GapSmall: .25rem !default;
$GapMedium: .5rem !default;
$GapLarge: 1rem !default;
$GapXLarge: 2rem !default;