@import './index.scss';

.form-panel{
    background-color: rgb(246, 243, 243);
    border: 1px solid rgb(176, 176, 176);
    min-width: px2em(980px);
    padding-top: emRhythm(2);
    padding-bottom: emRhythm(2);
}


.dyform{
    @include flexContainer($wrap: wrap);
    width: px2em(980px);
    &__item{
        @include flexItem();
        width: px2em(475px);
        margin-bottom: emRhythm(1);
    }
}

.form-btn{
    padding-top: emRhythm(1);
    padding-bottom: emRhythm(1);
    height: emRhythm(8);
    @include flexContainer($alignItems: center, $justifyContent: center);
}
.btn-search,
.btn-reset{
    padding-left: $GapLarge;
    padding-right: $GapLarge;
    margin-left: $GapLarge;
    margin-right: $GapLarge;
    height: emRhythm(4);
    @include setLeading(4);
    font-weight: bold;
    color: rgb(49, 94, 117);  
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid  rgb(0, 61, 118);   
    background-image: linear-gradient(to bottom, rgb(254, 252, 253), rgb(199, 203, 215))
}