@import './index.scss';


.shell{
    

    font-size: $BaseFontSize;
    background-color: $LightColor;
    color: $DarkColor;

    &__header{
      
        
        
    }

    &__body{
     
    }

    &__foot{

    }
}
