$fitemDefaultHeight: 3em;
$fitemDefaultVertGap: .5em;

.fi {
  display: flex;
  flex-direction: row;
  width: calc(100% - 1em);
  height: $fitemDefaultHeight;
  padding: 0 .5em;
  margin: .5em .5em;
  line-height: $fitemDefaultHeight;
  font-weight: bold;
  text-align: center;
  outline: 1px solid rgb(131, 187, 199);
  &--h3 {
    height: 3 * $fitemDefaultHeight + (3 - 1) * 2 * $fitemDefaultVertGap;
  }
}